[submodule "github/ligature"]
	path = github/ligature
	url = https://github.com/mickeynp/ligature.el
[submodule "github/spotify.el"]
	path = github/spotify.el
	url = https://github.com/danielfm/spotify.el
[submodule "github/lsp-mssql"]
	path = github/lsp-mssql
	url = https://github.com/emacs-lsp/lsp-mssql
